<!DOCTYPE html>
<html lang="en" layout:decorate="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">Customers List</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Name</th><th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
